<h3>Passenger Details</h3>
<br>
<h5>Passenger: <%= @passenger.name %></h5>
<!--<h5>Passenger ID: <%#= @passenger.id %></h5>-->
<!--<h5>Passenger Phone Number: <%#= @passenger.phone_num %></h5>-->
<table class="table">
  <tr>
    <th>Passenger ID</th>
    <th>Passenger Phone Number</th>
    <th>Trip ID</th>
  </tr>
  <td><%= @passenger.id %></td>
  <td><%= @passenger.phone_num %></td>
  <td><%= @passenger.id %></td>
</table>

<p>Total amount charged: </p>
<%= link_to "Back", passengers_path %> ||
<%= link_to "Edit", edit_passenger_path %> ||
<%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {
  confirm: "Are you sure you want to delete this passenger?" } %>
