<h3>Passenger:</h3>
<h5><%= @passenger.id %></h5>
<h5><%= @passenger.name %></h5>
<h5><%= @passenger.phone_num %></h5>
<%= link_to "Back", passengers_path %> ||
<%= link_to "Edit", edit_passenger_path %>