<h3>Passenger Details</h3>
<br>
<h5>Passenger: <%= @passenger.name %></h5>
<h5>Passenger ID: <%= @passenger.id %></h5>
<h5>Passenger Phone Number: <%= @passenger.phone_num %></h5>
<br>
<h5>Trips:</h5>
<table class="table">
  <tr>
    <th>Trip ID</th>
    <th>Driver Name</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
  <% @trips.each do |trip| %>
    <tr>
    <td><%= trip.id %></td>
    <td><%= trip.driver.name %></td>
    <td><%= trip.date %></td>
    <td><%= trip.rating %></td>
    <td><%= trip.cost %></td>
    </tr>
  <% end %>
</table>

<p>Total amount charged: </p>
<%= link_to "Back", passengers_path %> ||
<%= link_to "Edit", edit_passenger_path %> ||
<%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {
  confirm: "Are you sure you want to delete this passenger?" } %>
