<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to "Home", root_path %> ||
    <%= link_to "Driver's List", drivers_path %> ||
    <%= link_to "Passenger's List", passengers_path %>
  </nav>
  <h1>Welcome to the RideShare App!!!</h1>
    <%= yield %>
    <footer>©2020</footer>
  </body>
</html>
